@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    background: #e1e5ed;
    color: #06181f;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #a16ad9;
    text-decoration: underline;
}

a:visited {
    color: #2741c2;
}

a:active {
    color: #27b7c2;
}

.container {
    margin: auto;
    max-width: 750px;
    padding-top: 30px;
}

.avatar {
    width: 215px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info {
    margin-bottom: 20px;
    display: flex;
}

.info-text {
    margin-left: 40px;
}

.info-text p {
    font-style: italic;
    font-weight: bold;
    color: #696969;
    margin: 0;
}

.info-text h1 {
    margin-bottom: 15px;
}

.info-text h3 {
    margin-bottom: 15px;
}

@media (max-width: 650px) {
    .info {
        display: block;
        text-align: center;
    }
}

.card {
    font-weight: bold;
    padding: 20px 30px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.card h3 {
    margin-bottom: 15px;
}

.bg-red {
    background: #f2d5d7;
}

.bg-purple {
    background: #f2d5e4;
}

.btn {
    background: #474747;
    padding: 10px 15px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
}

.btn:hover {
    opacity: 0.8;
}

.list {
    margin: 0;
    padding: 0 10px;
    list-style: none;
}

.list li {
    margin-bottom: 7px;
    padding-left: 3px;
    border-bottom: 1px solid grey;
    border-radius: 7px;
}

.table {
    width: 100%;
}

.table td {
    text-align: center;
    padding-bottom: 5px;
}

.table td:hover {
    background: #ebbebe;
}

.form h3 {
    text-align: center;
    margin-bottom: 20px;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
    margin-right: 20px;
}

.form-row .form-group {
    width: 50%;
    margin-right: 10px;
}

.form-row .form-group:last-child {
    margin-right: 0;
}

@media (max-width: 650px) {
    .form-row {
        display: block;
    }

    .form-row .form-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.form-group label {
    display: block;
    font-size: 16px;
    color: #969595;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 2px solid #ccc;
    color: #000;
    font-family: inherit;
    padding: 10px 0 10px;
}

* {
    margin: 0;
    padding: 0;
}

.body {
    margin: 0;
}














